header{
    height: 25px;
    width: 800px;
    margin: auto;
}

main{
    height: 500px;
    width: 800px;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

footer{
    height: 25px;
    width: 800px;
    margin: auto;
}

canvas{
    height: 400px;
    width: 800px;
    margin: auto;
    border: 5px solid black;
}